<body>
    {% from 'macros.html' import render_datetime %}
    <!-- Begin Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('about') }}">
                <i class="fas fa-industry"></i>
                FabOMatic
            </a>
            {% if not backend.connected %}
            <div class="mqtt-status">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                MQTT
            </div>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    {% if current_user and current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'view_users' %}active{% endif %}" href="{{ url_for('view_users') }}">
                            <i class="fas fa-users"></i>{{ _("Users") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'view_machines' %}active{% endif %}" href="{{ url_for('view_machines') }}">
                            <i class="fas fa-cogs"></i>{{ _("Machines") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'view_uses' %}active{% endif %}" href="{{ url_for('view_uses') }}">
                            <i class="fas fa-history"></i>{{ _("History") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'view_authorizations' %}active{% endif %}" href="{{ url_for('view_authorizations') }}">
                            <i class="fas fa-key"></i>{{ _("Authorizations") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'maintenances' %}active{% endif %}" href="{{ url_for('maintenances') }}">
                            <i class="fas fa-tools"></i>{{ _("Maintenance") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'view_interventions' %}active{% endif %}" href="{{ url_for('view_interventions') }}">
                            <i class="fas fa-wrench"></i>{{ _("Interventions") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'roles' %}active{% endif %}" href="{{ url_for('roles') }}">
                            <i class="fas fa-user-tag"></i>{{ _("Roles") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'machinetypes' %}active{% endif %}" href="{{ url_for('machinetypes') }}">
                            <i class="fas fa-sitemap"></i>{{ _("Machine types") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'system' %}active{% endif %}" href="{{ url_for('system') }}">
                            <i class="fas fa-server"></i>{{ _("System") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">
                            <i class="fas fa-sign-out-alt"></i>{{ _("Logout") }}
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">
                            <i class="fas fa-sign-in-alt"></i>{{ _("Login") }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="language-switcher ms-2">
                <a href="{{ url_for('set_language', lang='en') }}" title="English">🇬🇧</a>
                <a href="{{ url_for('set_language', lang='it') }}" title="Italiano">🇮🇹</a>
            </div>
        </div>
    </nav>
    <!-- End Bootstrap Navbar -->

    <!-- Breadcrumbs -->
    <div class="breadcrumb-container">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ url_for('about') }}"><i class="fas fa-home"></i> Home</a></li>
                    {% endblock %}
                </ol>
            </nav>
        </div>
    </div>
    {% for mesg in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">{{mesg}}</div>
    {% endfor %}
    <div class="container-fluid content ">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Include Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>