[Unit]
Description=Fablab

[Service]
Type=exec
Delegate=true
KillMode=process
ExecStart=python -m rfid_backend_FABLAB_BG 

[Install]
WantedBy=default.target
