{% extends 'base.html' %}

{% block content %}
<h4>System status</h4>
<div class="row mt-4">
    <div class="col-md-4">

        <div class="card">
            <div class="card-header">
                Database info
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Database size (KB): {{ db_size }}</li>
                    <li class="list-group-item">Database file : {{ db_file }}</li>
                    <li class="list-group-item"><a href="{{ url_for('download_db') }}"
                            class="btn btn-info">Download DB</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                System info
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Machine info: {{ machine_info }}</li>
                    <li class="list-group-item">Disk free space (MB): {{ disk_free }}</li>
                    <li class="list-group-item">Memory free space (MB): {{ ram_free }}</li>
                    <li class="list-group-item"><a href="{{ url_for('reboot') }}" class="btn btn-danger">Reboot system</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Application info
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Version installed : {{ app_version }}</li>
                    <li class="list-group-item">Version available : {{ latest_version }}</li>
                    <li class="list-group-item"><a href="{{ url_for('update_app') }}" class="btn btn-danger">Update
                            application (pip)</a>
                    </li>
                    <li class="list-group-item"><a href="{{ url_for('restart_app') }}" class="btn btn-primary">Restart
                        application</a>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h4>Boards list</h4>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Board ID</th>
                <th scope="col">Machine (ID)</th>
                <th scope="col">IP address</th>
                <th scope="col">FW Version</th>
                <th scope="col">Last seen</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
            <tr>
                <td>{{ board.id }}</td>
                <td>{{ board.machine.machine_name }} ({{ board.machine_id }})</td>
                <td>{{ board.ip_address }}</td>
                <td>{{ board.fw_version }}</td>
                <td>{{ board.last_seen | time_since }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
</div>
{% endblock %}