{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-0">
    <h1>Roles</h1>
    <h2>This system page configures the possible role of the users</h2>
    <a href="{{ url_for('add_role') }}" class="btn btn-primary mb-3">Add Role</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="d-none d-lg-table-cell">Reserved</th>
                <th>Backend admin?</th>
                <th>Maintenance?</th>
                <th>Authorize All?</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.role_id }}</td>
                <td>{{ role.role_name }}</td>
                <td class="d-none d-lg-table-cell">
                    {% if role.reserved %}
                    <i class="fa-solid fa-lock"></i> <!-- Locked Icon -->
                    {% else %}
                    <i class="fa-solid fa-lock-open"></i> <!-- Unlocked Icon -->
                    {% endif %}
                </td>
                <td>
                    {% if role.backend_admin %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-times" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td>
                    {% if role.maintenance %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-times" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td>
                    {% if role.authorize_all %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-times" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td>
                    {% if not role.reserved %}
                    <a href="{{ url_for('edit_role', role_id=role.role_id) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ url_for('delete_role', role_id=role.role_id) }}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}