{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Machines</h1>
    <a href="{{ url_for('add_machine') }}" class="btn btn-primary mb-3">Add Machine</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type ID</th>
                <th>Hours</th>
                <th>Blocked</th>
                <th>Maintenances</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for machine in machines %}
            <tr>
                <td>{{ machine.machine_id }}</td>
                <td>{{ machine.machine_name }}</td>
                <td>{{ machine.machine_type_id }}</td>
                <td>{{ machine.machine_hours }}</td>
                <td>
                    {% if machine.blocked %}
                    <i class="fas fa-lock"></i> <!-- Locked Icon -->
                    {% else %}
                    <i class="fas fa-lock-open"></i> <!-- Unlocked Icon -->
                    {% endif %}
                </td>
                <td>
                    <ul>
                    {% for maintenance in machine.maintenances %}
                        <li>{{ maintenance.description }} ({{ maintenance.hours_between }} h.)</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ url_for('view_machine_use_history', machine_id=machine.machine_id) }}"
                    class="btn btn-info">View history</a>
                    <a href="{{ url_for('edit_machine', machine_id=machine.machine_id) }}"
                        class="btn btn-warning">Edit</a>
                    <form method="POST" action="{{ url_for('delete_machine', machine_id=machine.machine_id) }}"
                        class="d-inline">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
