{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    <h1>Machine Types</h1>
    <h3>This page defines the categories of machines in the LAB.</h3>
    <a href="{{ url_for('add_machinetype') }}" class="btn btn-primary mb-3">Add Machine Type</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Machine type</th>
                <th>Auto-logoff</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for machine_type in machine_types %}
            <tr>
                <td>{{ machine_type.type_id }}</td>
                <td>{{ machine_type.type_name }}</td>
                <td>{% if machine_type.type_timeout_min > 0 %}
                    {{ machine_type.type_timeout_min }} min
                    {% else %}
                    <i>disabled</i>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('edit_machinetype', type_id=machine_type.type_id) }}"
                        class="btn btn-warning">Edit</a>
                    <a href="{{ url_for('delete_machinetype', type_id=machine_type.type_id) }}"
                        class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}