<!DOCTYPE html>
<html>
<head>
    <title>Roles</title>
</head>
<body>
    <h1>Roles</h1>
    <a href="{{ url_for('add_role') }}">Add Role</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Authorize All</th>
            <th>Action</th>
        </tr>
        {% for role in roles %}
        <tr>
            <td>{{ role.role_id }}</td>
            <td>{{ role.role_name }}</td>
            <td>{{ role.authorize_all }}</td>
            <td>
                <a href="{{ url_for('edit_role', role_id=role.role_id) }}">Edit</a>
                <form method="POST" action="{{ url_for('delete_role', role_id=role.role_id) }}">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
