{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    <h1>Interventions</h1>
    <h3>This is the list of performed maintenance actions on the machines.</h3>
    <a href="{{ url_for('add_intervention') }}" class="btn btn-primary mb-3">Add Intervention</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="d-none d-lg-table-cell">Intervention ID</th>
                <th>Maintenance</th>
                <th>Machine</th>
                <th>User</th>
                <th class="d-none d-lg-table-cell">Timestamp</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for intervention in interventions %}
            <tr>
                <td class="d-none d-lg-table-cell">{{ intervention.intervention_id }}</td>
                <td>{{ intervention.maintenance.description }}</td>
                <td>{{ intervention.machine.machine_name }}</td>
                <td>{{ intervention.user.name }} {{ intervention.user.surname }}</td>
                <td class="d-none d-lg-table-cell">{{ intervention.timestamp | datetimeformat('%b %d, %Y %I:%M %p') }}</td>
                <td>
                    <a href="{{ url_for('edit_intervention', intervention_id=intervention.intervention_id) }}"
                        class="btn btn-warning">Edit</a>
                    <a href="{{ url_for('delete_intervention', intervention_id=intervention.intervention_id) }}"
                        class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}